@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", serif;
}

body {
  background-color: #978e7b;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  border-radius: 8px;
  color: black;
  background-color: white;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.input-field {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
  margin-top: 15px;
  width: 80%;
  height: 25px;
  font-family: Verdana;
  font-weight: bold;
}

.submit-btn {
  height: 55px;
  width: 130px;
  border: none;
  background-color: rgb(97, 107, 248);
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 5px;
}

.submit-btn:hover {
  opacity: 80%;
}

.last-message {
  margin-top: 10px;
  font-size: 35px;
  margin-bottom: 15px;
}

.last-message-info {
  margin-bottom: 30px;
  color: rgb(111, 76, 206);
  font-size: 30px;
  font-family: Verdana;
  font-weight: bold;
}

.invalid-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  background-color: rgb(255, 0, 0);
  opacity: 50%;
  width: 95%;
  height: 70px;
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 800px) 
{
  .main_content {
    width: 80%;
  }

  .title {
    width: 80%;
  }

  .last-message {
    width: 80%;
    font-size: 30px;
  }
}